body{
	background-color:  none ;
	font-family: 'Lalezar',sans-serif ;
}
 .photo-size{
 	width: 650px;
 }

 .primary-header{
 	background-color: #193760 ;
 }
 .text-size{
 	color: blue ;
 	font-size: 30px ;
 }

 .list-color{
 	color: blue;
 }

 .list-text{
 	color: blue;
 }

 .primary-footer{
    background-color: #193760 ;
 }

 .footer-text{
    color: #FFFFFF ;
    font-size: 30px ;
 }

.primary-section1{
	\zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
}